<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barberq.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="BarberQ"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:theme="@android:style/Theme.Material"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" 
            android:label="BarberQ Services"
            android:exported="false" />

        <activity android:name=".BookingActivity" 
            android:label="Schedule Appointment"
            android:exported="false" />

        <activity android:name=".HistoryActivity" 
            android:label="My Bookings"
            android:exported="false" />

    </application>
</manifest>